@import url(https://fonts.googleapis.com/css?family=Orbitron);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*För responsivitet*/
  list-style: none;
}
body {
  font-family: Orbitron;
  background-color: black;
  background-image: url("https://cdn.discordapp.com/attachments/749985626933166155/758039874241822760/pinkNblue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
}
header {
  display: flex;
  height: 10vh;
  margin: 50px 0px 0px 0px;
  align-items: center;
  justify-content: center;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto; /*Så att du får lika mycket space på höger o vänster sida i nav*/
}
/*****************  RESPONSIVITET ***********************/

.container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.container > * {
  /*Detta betyder att alla element i conatiner klassen ska ha de här värderna*/
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}
.logo {
  text-align: left;
  width: 500px;
}
.header {
  height: 200px;
}

.footer {
  background: rgba(44, 62, 80, 0.7);
  height: 80px;
}

.article {
  text-align: left;
  background: rgba(44, 62, 80, 0.7);
  height: 300px;
  font-size: 24px;
}

.aside1 {
  background: rgba(44, 62, 80, 0.7);
}

.aside2 {
  background: rgba(44, 62, 80, 0.7);
}

@media all and (min-width: 800px) {
  .article {
    flex: 3;
  }
  .aside1 {
    order: 1;
  }
  .aside2 {
    order: 2;
  }
  .article {
    order: 2;
  }
  .footer {
    order: 4;
  }
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1;
  }
}
