@import url(https://fonts.googleapis.com/css?family=Orbitron);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*För responsivitet*/
  list-style: none;
  color: ghostwhite;
}
body {
  font-family: Orbitron;
  background-color: black;
  background-image: url("https://cdn.discordapp.com/attachments/749985626933166155/758039874241822760/pinkNblue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
}
header {
  display: flex;
  height: 10vh;
  margin: 50px 0px 0px 0px;
  align-items: center;
  justify-content: center;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto; /*Så att du får lika mycket space på höger o vänster sida i nav*/
}
.container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.container > * {
  /*Detta betyder att alla element i conatiner klassen ska ha de här värderna*/
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}
.logo {
  text-align: left;
  width: 500px;
}
.home-logo {
  height: 80px;
  width: 80px;
}
.header {
  height: 250px;
}

.footer {
  text-align: center;
  height: 40px;
  margin-top: 300px;
  background: rgba(44, 62, 80, 0.7);
}

.article {
  text-align: center;
  height: 300px;
  font-size: 24px;
}

.aside1 {
}

.aside2 {
}

@media all and (min-width: 800px) {
  .article {
    flex: 3;
  }
  .aside1 {
    order: 1;
  }
  .aside2 {
    order: 2;
  }
  .article {
    order: 2;
  }
  .footer {
    order: 4;
  }
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1;
  }
}

@media screen and (max-width: 600px) {
  div.logo {
    display: none;
  }
  .header nav {
    justify-content: center;
    height: 90px;
    margin-top: 30px;
    padding: 70px;
  }
}

#shape,
#shape2 {
  stroke-width: 3px;
  fill: transparent;
  stroke: #082f70;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 0.6s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text,
#text2 {
  margin-top: -43px;
  text-align: center;
}

#text a,
#text2 a {
  color: ghostwhite;
  text-decoration: none;
  font-size: 1em;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape,
.svg-wrapper:hover #shape2 {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #f72585;
}
