@import url(https://fonts.googleapis.com/css?family=Orbitron);
/********************** index.html CSS ***************************/
* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*För responsivitet*/
    list-style: none;

}
body{
    font-family: Orbitron;
    background-color: black;
    background-image: url('https://cdn.discordapp.com/attachments/749985626933166155/758039874241822760/pinkNblue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center; 
}
header {
    display: flex;
    height: 10vh;
    margin: 50px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    position: relative;
}
nav{    
    justify-content: left;
    width: 90%;
    margin: auto; /*Så att du får lika mycket space på höger o vänster sida i nav*/

} 
.nav-links{
    position: fixed;
    width: 300px;
    height: 30%;
    
}
.nav-link{
    padding: 0%;
    cursor: pointer;

}
ul li{
   
}
.welcome-text{
    height: 100%;
    margin: 50px 0px 0px 0px;
}
.content_container{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    
}
.content_img img{
    flex-direction: column;
    

}
.planet1 img{
    width: 265px !important;
    height: 265px !important; 
}
.planet2 img{
    width: 299px;
    height: 310px;
}
.planet3 img{
    width: 350px;
    height: 363px;
}
.welcome-text {
    display: flex;
    justify-content: space-around;
}
.img_container img{
  width: 450px;
  margin: 5px;
  height: 400px;
  
}

.content_img img{
      animation: drop 1.5s ease;

}

/*****************  RESPONSIVITET ***********************/

@keyframes drop{
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1270px){
    .welcome-text{
        flex-direction: column;
    }
    .welcome-text img{
        width: 100%; /*så texten behåller sin naturliga*/

    }
}
@media screen and (max-width: 1200px){
        .nav-links{
        margin-top: 0vh;
        text-align: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 500px){
        .nav-links{
        margin-top: 0vh;
        flex-shrink: 1;
    }
}






/****************************************/
.blink {
        animation: blinker 0.6s linear infinite;
        color: #1c87c9;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
}
@keyframes blinker {
        50% {
          opacity: 0;
        }
}
.blink-one {
        animation: blinker-one 1s linear infinite;
}
@keyframes blinker-one {
        0% {
          opacity: 0;
        }
}
.blink-two {
        animation: blinker-two 1.4s linear infinite;
}
@keyframes blinker-two {
        100% {
          opacity: 0;
        }
}
/********************** quiz.html CSS ***************************/
/********************** contact.html CSS ***************************/
/********************** about.html CSS ***************************/
/********************** funfact.html CSS ***************************/