/** { 
    border:1px solid black; 
}*/
body{
    font-family: Orbitron;
    padding: 2%;
    
    /*background-color: black;*/

}
 
aside p {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: orange;
}
h1{
    text-align: center;

}

.flex_container{
    display: flex;
    justify-content: space-around;
        text-align: center;

    


}
.nav_style{
}
.nav_style :hover{
  background-image: url('https://cdn.discordapp.com/attachments/749985626933166155/757569710404665414/coollogo_com-201121081.png');
    display: block;

}

article {
    color: orange;
    
}
nav{
    justify-content: center;
    justify-content: space-around; /*Luft mellan nav-texterna*/
    display: flex;

}  

.content_container {
    

}
.img_container{

}
.form_container{

}

/*------------------------*/

/*header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}
header h2{
    font-family: 'Quicksand', sans-serif;
}
header nav {
    display: flex;
}
header nav li {
    margin: 0 15px;
} 
header nav li:first-child{
    margin-left:0; 
}
header nav li:last-child{
    margin-right: 0;
}
@media(max-width: 1000px){
    header {
        padding: 20px 50px;
    }
}
@media(max-width:700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
}
*/